.title-bar, .navigation-bar {
    position: fixed;
    width: calc(100vw - 400px);
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

/* ブラウザの横幅が1000px以下になったらバーを横全体に伸ばす */
@media screen and (max-width: 1000px) {
    .title-bar, .navigation-bar {
        width: calc(100vw);
    }
}

/* 本のタイトルを表示するバー */
.title-bar {
    top: 0px;
    height: 50px;
    justify-content: center;
}

/* Home や Book Info 等他のページへの誘導バー */
.navigation-bar {
    top: 50px;
    height: 50px;
    background-color: rgb(240, 240, 240);
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
}


/* 本のタイトル */
.title {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
}

/* 他ページへの誘導ボタン書式 */
.navigation {
    text-decoration: none; /* 下線を消す */
    color: black;
    padding: 1px 8px;
    border-radius: 5px;
    margin-left: 12px;
    font-size: 20px;
}
.navigation:hover {
    background-color: rgb(220, 220, 220);
}