/* 左の章選択のパネル */
.panel {
    height: calc(100vh);
    width: 400px;
    flex-shrink: 0;
    padding: 10px;
    padding-top: 0;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
}

/* ブラウザの横幅が1000px以下になったらパネルを消す */
@media screen and (max-width: 1000px) {
    .panel {
        display: none;
    }
}



/* アプリ名とChapterを表示するためのブロック */
.app-name-block, .chapter-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-name-block {
    height: 50px;
}
.chapter-block {
    height: 40px;
}

/* アプリ名 */
.app-name {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-family: 'Caveat', cursive;
}

/* Chapter */
.chapter {
    font-size: 20px;
    font-weight: bold;
}



/* 全てのタブがこのクラスを持つ */
.tab {
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    font-size: 12px;
    border-left: 5px solid rgb(230, 230, 230);
    
    position: relative; /* 疑似要素の位置を制御するため */
    display: flex; /* フレックスボックスを使用 */
    justify-content: space-between; /* 子要素を両端に配置 */
    align-items: center;
}
.tab:hover {
    background-color: #eee;
    border-radius: 3px;
}

/* 展開出来ることを示すアイコン */
.expand-icon::after {
    content: ''; /* 疑似要素には何かしらの内容が必要 */ 
    flex-shrink: 0;
    width: 5px;
    height: 5px;
    border: 1px solid;
    border-color:  transparent transparent #565656 #565656;
    margin: 7px;
    transform: translateY(-50%) rotate(-45deg);
}

/* 折り畳み出来ることを示すアイコン */
.fold-icon::after {
    content: ''; /* 疑似要素には何かしらの内容が必要 */ 
    flex-shrink: 0;
    width: 5px;
    height: 5px;
    border: 1px solid;
    border-color:  transparent transparent #565656 #565656;
    margin: 7px;
    transform: translateY(50%) rotate(135deg);
}

/* サブタブをグループ化するための入れ物 */
.group {
    display: none;
}

/* 選択されている章 */
.active-tab {
    background-color: #eee;
    border-left: 5px solid lightblue;
    border-radius: 3px;
}





/* サブタブ */
.sub-tab {
    margin-left: 10px;
}

.sub2-tab {
    margin-left: 20px;
}

.sub3-tab {
    margin-left: 30px;
}

.sub4-tab {
    margin-left: 40px;
}

.sub5-tab {
    margin-left: 50px;
}