@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    margin: 0;
}

/* バー以外の主要コンテンツを入れるコンテナ */
.container {
    display: flex;
}

/* グラフや要約を表示する領域 */
.content {
    height: calc(100vh - 100px);
    margin-top: 100px;
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* グラフを表示する領域 */
#network {
    height: 450px;
    margin: 10px 20px;
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
}

.prev-next {
    margin-left: 20px;
    height: 31px;
}

.icon {
    height: 15px;
    width: 15px;
    padding: 8px;
    border-radius: 15px;
}

.icon:hover {
    background-color: #ddd;
}