@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    margin: 0;
}

/* バー以外の主要コンテンツを入れるコンテナ */
.container {
    display: flex;
    height: calc(100vh - 90px);
    margin-top: 90px;
}

.panel, .content {
    overflow-y: auto;
    max-height: 100vh;
    padding: 10px;
}

/* グラフや要約を表示する領域 */
.content {
    flex-grow: 1;
}

/* グラフを表示する領域 */
#network {
    height: 450px;
    border: 1px solid gray;
    margin: 10px 20px;
    border-radius: 5px;
}
