<!-- https://qiita.com/junjis0203/items/ecc3f4eb9b3a1c4802e4 -->

<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
    <style type="text/css">
      #network {
        width:  400px;
        height: 400px;
        border: 1px solid #000;
      }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  </head>
  <body>
    <div id="network"></div>
    <script type="text/javascript">
      var nodes = new vis.DataSet([
        {id: 1, label: 'A', title: 'test'},
        {id: 2, label: 'B', title: 'test'},
        {id: 3, label: 'C', title: 'test'},
        {id: 4, label: 'D', title: 'test'},
        {id: 5, label: 'E', title: 'test'},
        {id: 6, label: 'F', title: 'test'},
        {id: 7, label: 'G', title: 'test'},
        {id: 8, label: 'H', title: 'test'},
      ]);
      var edges = new vis.DataSet([
        {from: 1, to: 2, arrows: 'to'},
        {from: 1, to: 3, arrows: 'to'},
        {from: 3, to: 4, arrows: 'to'},
        {from: 6, to: 1, arrows: 'to'},
        {from: 7, to: 8, arrows: 'to'},
        {from: 8, to: 7, arrows: 'to'},
      ]);
      var container = document.getElementById('network');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
      };
      var network = new vis.Network(container, data, options);
    </script>
  </body>
</html>