{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}} - Story Visualizer</title>

    <link rel="icon" href="{% static 'visualizer/icon/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

    <link rel="stylesheet" href="{% static 'visualizer/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'visualizer/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'visualizer/css/panel.css' %}">
    <script src="{% static 'visualizer/js/script.js' %}" defer></script>
</head>

<body>

    <!-- 物語のタイトルを表示するスペース -->
    <div class="title-bar">
        <div class="title">{{title}}</div>
    </div>

    <!-- Home や Book Info 等を表示するためのスペース -->
    <div class="navigation-bar">
        <a href="{% url 'home:index' %}" class="navigation">Home</a>
        <a href="{% url 'bookinfo:index' %}" class="navigation">Book Info</a>
    </div>


    <div class="container">

        <!-- 左の章選択パネル -->
        <div class="panel">
            <div class="app-name-block">
                <a href="{% url 'home:index' %}" class="app-name">Story Visualizer</a>
            </div>

            <div class="chapter-block">
                <div class="chapter">Chapter</div>
            </div>

            {{ tabHTML|safe }}
        </div>

        <!-- グラフや要約を表示するスペース -->
        <div class="content">
            <div id="network"></div>
            <!-- <button id="prev">前へ</button>
            <button id="next">次へ</button>
            <button id="regen">再生成</button> -->
            <div class="prev-next">
                <img id="prev" class="icon" src="{% static 'visualizer/icon/leftarrow.png' %}">
                <img id="next" class="icon" src="{% static 'visualizer/icon/rightarrow.png' %}">
                <img id="regen" class="icon" src="{% static 'visualizer/icon/reload.png' %}">
            </div>
            <div id="summary">{{ summary|safe }}</div>
        </div>

    </div>


    <script>
        // ネットワーク図の更新（初期化時やブラウザ更新時に呼び出される）
        var gutenbergID = {{gutenbergID}};
        var container = document.getElementById('network');
        var data = {nodes: {{ nodes|safe }}, edges: {{ edges|safe }}};
        var options = {physics: {enabled: false}};
        var network = new vis.Network(container, data, options);
    </script>

</body>
</html>
