{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Story Visualizer</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

    <link rel="stylesheet" href="{% static 'visualizer/css/style_section.css' %}">
    <script src="{% static 'visualizer/js/script_section.js' %}" defer></script>
</head>

<body>
    <div class="container">

        <div class="panel">
            {{ tabHTML|safe }}
        </div>

        <div class="content">
            <h1 id="title">{{title}}</h1>
            <div id="network"></div>
            <button id="prev">前へ</button>
            <button id="next">次へ</button>
            <button id="regen">再生成</button>
            <div id="summary">{{ summary|safe }}</div>
        </div>

    </div>

    <script>
        // ネットワーク図の更新（初期化時やブラウザ更新時に呼び出される）
        var gutenbergID = {{gutenbergID}};
        var container = document.getElementById('network');
        var data = {nodes: {{ nodes|safe }}, edges: {{ edges|safe }}};
        var options = {physics: {enabled: false}};
        var network = new vis.Network(container, data, options);
    </script>

</body>
</html>
