<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タブ付きコンテンツ</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div class="container">
        
        <div class="panel">
            <div class="tab" id="1">第1章 三びきのこぶたの巣立ち</div>
			<div class="group">
			<div class="tab sub-tab" id="1-1">第1.1章 長男と次男の家</div>
				<div class="tab sub-tab" id="1-2">第1.2章 末のこぶたの家</div>
			</div>
			<div class="tab" id="2">第2章 オオカミの登場</div>
			<div class="group">
			<div class="tab sub-tab" id="2-1">第2.1章 オオカミが2ひきのこぶたを食べる</div>
				<div class="tab sub-tab" id="2-2">第2.2章 オオカミvs末のこぶた</div>
				<div class="group">
				<div class="tab sub2-tab" id="2-2-1">第2.1.1章 オオカミが大怪我を負う</div>
					<div class="tab sub2-tab" id="2-2-2">第1.2.2章 オオカミを食べる</div>
				</div>
			</div>
        </div>
        
        <div class="content">
            要約グラフ
        </div>
        
    </div>
</body>
</html>
